  <table class="table">
    <thead>
    <tr>
      <th>Заголовок</th>
      <th>Текст</th>
      <th>Цена</th>
      <th>Вес</th>
    </tr>
    </thead>
    <tbody>
    <%  @ms.each do |m| %>
    <tr>
        <td><%= m.head %></td>
        <td><%= m.text %>  <a href="https://youla.ru<%= m.url %>">Подробнее</a></td>
        <td><%= m.pr %></td>
        <td><%= m.ves %></td>
    <tr>
    <% end %>
    </tbody>
   </table>