<%= form_for :dictionar, url: dictionars_path do |f| %>   <!--название формы, url куда перейти-->


<div class="container-fluid d-flex h-100 justify-content-center align-items-center p-0">
<div class="row bg-white shadow-sm">
<div class="col border rounded p-4">

  <h3>Добавить фразу в словарь</h3>

<p>
Вес<br/>   
<%= f.text_field :ves %>
</p>

<p>
Фраза<br/>   
<%= f.text_field :word %>
</p>

<p>
Комментарий<br/>   
<%= f.text_field :comment %>
</p>

<p>
Проекты<br/>
<%= f.select :projects, @mas,{ :prompt => "Выберите проекты"},
             { :multiple => true, :size => 5 } %>
</p>


<%= f.submit "Отправить" %>
</p>

</div>
</div>
</div>

<% end %>