<h3>Изменить проект</h3>

<%= form_for @project, url: project_path(@project), method: :patch do |f| %>   <!--название формы, url куда перейти-->


  <div class="container-fluid d-flex h-100 justify-content-center align-items-center p-0">
    <div class="row bg-white shadow-sm">
      <div class="col border rounded p-4">

        <h3>Изменить проект</h3>

        <p>
          Имя<br/>
          <%= f.text_field :name  %>
        </p>

        <%= f.submit "Отправить" %>
        </p>

      </div>
    </div>
  </div>

<% end %>



<div style="margin: 50px;">
  <div class="content-1">
    <p>Словари в работе</p>

<% @project.dictionars.each do |x| %>
<button id=<%= "move_#{x["_id"]}"%>> </button>
<% end %>


  </div>
  <div class="content-2">
    <p>Все словари</p>

<% @msqld.each do |x| %>
<button id=<%= "move_#{x.id}"%>>  <%= x.comment %>||<%= x.ves %>||<%= x.word %></button>
<% end %>

  </div>
</div>


<script>

   // $(document).ready(function(){ alert('Ваша версия jQuery ' + jQuery.fn.jquery); });




   $("button[id*='move']").each(function (i, el) {
       $(el).click(function () {

           if ($(this).parent().hasClass('content-1')) {
               $(this).detach().appendTo('.content-2');
           } else {
               $(this).detach().appendTo('.content-1');
           }
       });
   });
</script>

