<h3>Изменить проект</h3>
<%= form_for @project, url: project_path(@project), method: :patch do |f| %>   <!--название формы, url куда перейти-->
  <div class="container-fluid d-flex h-100 justify-content-center align-items-center p-0">
    <div class="row bg-white shadow-sm">
      <div class="col border rounded p-4">

        <h3>Изменить проект</h3>
        <p>
          Имя<br/>
          <%= f.text_field :name  %>
        </p>

        <p>
          Цена<br/>
          <%= f.text_field :priсe  %>
        </p>

        <p>
          массив ссылок через точку с запятой<br/>
          <%= f.text_area :masslink, size: "70x5" %>
        </p>

        <p>
          <%= f.radio_button :work, "yes", :checked => true %>
          <%= label_tag(:work_true, "Активен") %>
          <%= f.radio_button :work, "no" %>
          <%= label_tag(:work_false, "Заблокированно") %>
        </p>


        <p>
        <%= f.submit "Отправить" %>
        </p>
        <div style="margin: 50px;">
          <div class="content-1">
            <p>Словари в работе</p>
            <% @msqld.each do |x| %>
              <% if @a.include? "#{x.id}" %>
                <button type="button" id=<%= "move_#{x.id}"%>  name=<%= "#{x.id}"%> >  <%= x.comment %>||<%= x.ves %>||<%= x.word %></button>
                <input type="hidden" id=<%= "#{x.id}"%>  name=dictionar[]  value=<%= "#{x.id}"%>>
          <% end %>
            <% end %>
          </div>
        </div>


      </div>
    </div>
  </div>
<% end %>
<div style="margin: 50px;">
  <div class="content-2">
    <p>Все словари</p>
    <% @msqld.each do |x| %>
      <% if @a.include? "#{x.id}" %>
      <% else %>
        <button type="button" id=<%= "move_#{x.id}"%> name=<%= "#{x.id}"%> >  <%= x.comment %>||<%= x.ves %>||<%= x.word %></button>
        <input type="hidden" id=<%= "#{x.id}"%>  name=dictionar[]  value=<%= "#{x.id}"%>>
      <% end %>

    <% end %>
  </div>
</div>
<script>
   $("button[id*='move']").each(function (i, el) {
       $(el).click(function () {

           if ($(this).parent().hasClass('content-1')) {
               //alert(el.name)
               $(this).detach().appendTo('.content-2');
               $('#'+el.name).detach().appendTo('.content-2');
           } else {
               $(this).detach().appendTo('.content-1');
               $('#'+el.name).detach().appendTo('.content-1');
           }
       });
   });
</script>

