  <table class="table">
    <thead>
    <tr>
      <th>Текст</th>
      <th>ID</th>
      <th>Урлы для работы</th>
      <th>Актив</th>
      <th>Подробно</th>
      <th>Изменить</th>
      <th>Удалить</th>
    </tr>
    </thead>
    <tbody>
      <%  @msql.each do |m| %>
    <% if m.work == "yes"%>
        <tr class="table-light" scope="row">
    <% else %>
        <tr class="table-secondary" scope="row">
    <% end %>

        <td ><%= m.name %></td>
        <td>


            <% @data[m["_id"].to_s].each do |b|%>

              
                
                <span class="border border-primary"><%= b[0] %></span>
                <span class="border border-success"><%= b[1] %></span>
                <span class="border border-info"><%= b[2] %></span>
                <br/>
              
            <% end %>
          
        </td>
        <td>

         <% m.masslink.split(";").each  do |i| %>
          <%= link_to "ссылка", i  %><br/>
            <% end %>


        </td>
        <td><%= m.work %></td>
        <td>   <%= link_to "Подробнее", project_path(m), method: :get  %></td>
        <td>   <%= link_to "Редактировать", edit_project_path(m) %></td>
        <td>   <%= link_to "Удалить", project_path(m), method: :delete  %></td>

      </tr>
    <% end %>
    </tbody>
  </table>